/* Body */
body {
    overflow-x: hidden;
}


/* NavBar */

.logo-navbar {
    width: 100px;
    height: 34px;
    background: #0D28A6;
}

.logo {
    width: 100px;
    height: 34px;
    background: #0D28A6;
}

.navbar {
    background-color: #F1F3FF !important;
}

.navbar-brand {
    margin-left: 100px;
    margin-top: 20px;
}

.nav-item {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}

.navbar-nav {
    margin-right: 100px;
    margin-top: 20px;
}

.button-register {
    background-color: #5CB85F;
    border-radius: 2px;
    width: 81px;
    height: 36px;
    border: none;
    color: white;
}

@media only screen and (max-width: 576px) {
    .logo-navbar {
        margin-left: -90px;
    }

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative;
    }

    .offcanvas-header {
        margin-left: 20px;
        margin-top: 10px;
    }

    .offcanvas-body {
        margin-left: 10px;
    }

    .nav-link {
        text-decoration: none;
        color: black;
    }

    .offcanvas-end {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .logo-navbar {
        margin-left: -90px;
    }

    html,
    body {
        overflow-x: hidden;
    }

    body {
        position: relative;
    }

    .offcanvas-header {
        margin-left: 20px;
        margin-top: 10px;
    }

    .offcanvas-body {
        margin-left: 10px;
    }

    .nav-link {
        text-decoration: none;
        color: black;
    }

    .offcanvas-end {
        width: 50%;
    }
}

/* Beranda 1 */

.bg-beranda {
    background-color: #F1F3FF;
    width: 100%;
    height: 550px;
    margin-top: -100px;
}

.col-sm {
    margin-right: 0px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-left: 110px;
    margin-top: 120px;
    width: 568px;
}

.bawah-title {
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    margin-left: 112px;
    margin-top: 20px;
    width: 468px;
}

.button-sewa {
    background: #5CB85F;
    border-radius: 2px;
    width: 150px;
    height: 36px;
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: 110px;
    margin-top: 20px;
}

.font-button-sewa {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.bg-mobil {
    width: 100%;
    height: 243px;
    background-color: #0D28A6;
    border-radius: 60px 0px 0px 0px;
    margin-top: 306px;
}

.pic-mobil {
    width: 100%;
    margin-top: -400px;
    margin-left: 90px;
}

@media only screen and (max-width: 576px) {

    .title,
    .bawah-title,
    .button-sewa {
        margin-left: 4%;
        margin-right: 0px;
    }

    .bg-beranda {
        height: 666px;
    }

    .title {
        width: 90%
    }

    .pic-mobil {
        margin-top: -52%;
        margin-left: 3%;
    }

    .pic-mobil>img {
        transform: scale(0.75, 0.75);
    }

    .bg-mobil {
        margin-top: 5%;
        max-width: 96%;
        border-radius: 120px 0 0 0;
        margin-left: 47px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {

    .title,
    .bawah-title,
    .button-sewa {
        margin-left: 4%;
        margin-right: 0px;
    }

    .bg-beranda {
        height: 666px;
    }

    .title {
        width: 90%
    }

    .pic-mobil {
        margin-top: -52%;
        margin-left: 5%;
    }

    .pic-mobil img {
        transform: scale(0.85, 0.90);
    }

    .bg-mobil {
        margin-top: 9%;
        max-width: 96%;
        border-radius: 120px 0 0 0;
        margin-left: 5%;
    }
}

/* Beranda 2 */
.pic-orang {
    margin-top: 104px;
    margin-left: 206px;
}

.title-2 {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-left: 20px;
    margin-top: 139px;
}

.bawah-title-2 {
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 22px;
}

.list-keuntungan {
    margin-top: 20px;
    margin-left: 10px;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.list-keuntungan>ul {
    line-height: 300%;
    margin-left: -21px;
    list-style: none;
}

.list-keuntungan img {
    margin-right: 10px;
}

@media only screen and (max-width: 576px) {
    .pic-orang>img {
        margin-left: -150px;
        margin-top: -50px;
    }

    .title-2,
    .bawah-title-2 {
        margin-top: 20px;
        margin-left: 50px;
    }

    .list-keuntungan,
    .list-keuntungan>ul {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .pic-orang>img {
        margin-left: -150px;
        margin-top: -50px;
    }

    .title-2,
    .bawah-title-2 {
        margin-top: 20px;
        margin-left: 15%;
    }

    .list-keuntungan,
    .list-keuntungan>ul {
        margin-left: 5%;
    }
}


/* Why Us */
.title-why-us {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-left: 110px;
    margin-top: 162px;
}

.desc-title-why {
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-left: 110px;
    margin-top: 16px;
}

.why-us {
    display: flex;
    flex-direction: column;
}

.content-why-us {
    margin-left: 130px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 85%;
}

.card-content {
    margin: 0px 20px;
}

.judul-content {
    padding: 23.67px 0 16px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.desc-content {
    width: 220px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.card-content {
    border: solid 1px #D0D0D0;
    padding: 24px;
    border-radius: 8px;
    width: 268px;
}

@media only screen and (max-width: 576px) {

    .title-why-us,
    .desc-title-why {
        margin-top: 20px;
        text-align: center;
        margin-left: 0;
    }

    .content-why-us {
        margin-left: 10px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .card-content {
        margin-top: 20px;
        width: 90%;
    }

    .judul-content,
    .desc-content {
        width: 90%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {

    .title-why-us,
    .desc-title-why {
        margin-top: 20px;
        text-align: center;
        margin-left: 0;
    }

    .content-why-us {
        margin-left: 10px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .card-content {
        margin-top: 20px;
        width: 95%;
    }

    .judul-content,
    .desc-content {
        width: 95%;
    }
}

/* Testimonial */
.testi {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-testi {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 24px;
    padding: 100px 0 16px 0;
}

.desc-testi {
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
}

.content-testi {
    width: 619px;
    height: 270px;
    background: #F1F3FF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-top: 40px;
    margin-left: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    justify-content: center;
}

.desc-box-testi {
    width: 415px;
    height: 80px;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.isi-content-testi {
    display: flex;
    flex-direction: column;
}

.content-testi img {
    width: 80px;
    height: 80px;
    align-items: center;
    margin-right: 46px;
}

.nama-testi {
    font-family: Helvetica;
    font-size: 14px;
    color: black;
    margin-top: 8px;
}

.isi-content-testi img {
    width: 80px;
    height: 24px;
    padding-bottom: 8px;
}

.button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: solid 1px #C4C4C4;
    margin-top: 24px;
    margin-right: 24px;
    transition: 0.3s;
}

.button:hover {
    background-color: #5CB85F;
}

.button-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button img {
    margin-bottom: 2px;
}

@media only screen and (max-width: 576px) {
    .content-testi {
        margin-left: 30px;
        width: 90%;
        display: flex;
        flex-direction: column;
        height: 320px;
    }

    .content-testi img {
        margin-left: 10px;
        margin-bottom: 16px;
    }

    .isi-content-testi img {
        margin-left: 150px;
    }

    .profpic {
        justify-content: center;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .rate {
        justify-content: center;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .isi-content-testi {
        margin-bottom: 20px;
        margin-top: 5px;
    }

    .title-testi {
        padding-top: 50px
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .content-testi {
        margin-left: 30px;
        width: 90%;
        display: flex;
        flex-direction: column;
        height: 320px;
    }

    .content-testi img {
        margin-left: 10px;
        margin-bottom: 16px;
    }

    .isi-content-testi img {
        margin-left: 150px;
    }

    .profpic {
        justify-content: center;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .rate {
        justify-content: center;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .isi-content-testi {
        margin-bottom: 20px;
        margin-top: 5px;
    }

    .title-testi {
        padding-top: 50px
    }
}

/* Sewa Mobil di Lokasi */
.sewa {
    display: flex;
    justify-content: center;
}

.bg-sewa {
    width: 1168px;
    height: 326px;
    background: #0D28A6;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.title-sewa {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.desc-sewa {
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    width: 468px;
    color: #FFFFFF;
}

.btn-sewa {
    width: 140px;
    height: 36px;
    background: #5CB85F;
    border-radius: 2px;
    padding: 8px 12px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 14px;
    margin-top: 52px;
    border: none;
}

@media only screen and (max-width: 576px) {
    .title-sewa {
        text-align: center;
        font-size: 24px;
        width: 50%;
        margin-top: 10%;
    }

    .desc-sewa {
        font-style: normal;
        width: 50%;
    }

    .btn-sewa {
        margin-bottom: 15%;
        margin-top: 5%;
    }

    .bg-sewa {
        width: 85%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .title-sewa {
        text-align: center;
        font-size: 24px;
        width: 50%;
        margin-top: 10%;
    }

    .desc-sewa {
        font-style: normal;
        width: 50%;
    }

    .btn-sewa {
        margin-bottom: 15%;
        margin-top: 5%;
    }

    .bg-sewa {
        width: 85%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
    }
}

/* FAQ */

.title-faq {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    margin-top: 104px;
    margin-left: 175px;
}

.desc-faq {
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    margin-top: 16px;
    margin-left: 175px;
}

.accordion {
    margin-top: 104px;
    width: 80%;
}

.accordion-item {
    margin-bottom: 16px;
    border: solid 1px #D4D4D4;
    border-radius: 4px;
}

.accordion-header {
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
}

@media only screen and (max-width: 576px) {
    .faq-kiri {
        width: 100%;
    }

    .title-faq {
        margin: 50px 0 0 0;
        text-align: center;
    }

    .desc-faq {
        margin-left: 0px;
        text-align: center;
    }

    .accordion {
        margin-left: 10%;
        margin-top: 50px;
    }

    .accordion-button,
    .accordion-body {
        width: 100%;
    }

    .accordion-item {
        border: solid black 1px;
        width: 200%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .faq-kiri {
        width: 100%;
    }

    .title-faq {
        margin: 50px 0 0 0;
        text-align: center;
    }

    .desc-faq {
        margin-left: 0px;
        text-align: center;
    }

    .accordion {
        margin-left: 10%;
        margin-top: 50px;
    }

    .accordion-button,
    .accordion-body {
        width: 100%;
    }

    .accordion-item {
        border: solid black 1px;
        width: 200%;
    }
}

/* Footer */
.footer-1 {
    display: flex;
    flex-direction: column;
    width: 268px;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
}

.desc-footer {
    margin-bottom: 16px;
    font-weight: normal;
}

.footer {
    margin-top: 150px;
    margin-bottom: 100px;
}

.footer-2 {
    font-family: Helvetica;
    font-size: 14px;
    color: #000000;
}

.icon-sosmed {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: row;
}

.icon-sosmed img {
    margin-right: 16px;
}

.break-column {
    width: 0%;
    display: none;
}

@media only screen and (max-width: 576px) {
    .break-column {
        width: 100%;
        display: block;
    }

    .footer {
        margin-top: 5%;
        margin-left: -10%;
    }

    .desc-footer {
        width: 200%
    }

    .icon-sosmed {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .break-column {
        width: 100%;
        display: block;
    }

    .footer {
        margin-top: 5%;
        margin-left: -18%;
    }

    .desc-footer {
        width: 200%
    }

    .icon-sosmed {
        margin-bottom: 20px;
    }
}

/* Form Pencarian */
.bg-cari-mobil {
    width: 1000px;
    height: 106px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-left: 247px;
    margin-top: 50px;
}

.button-cari-mobil{
    background-color: #5CB85F;
    border-radius: 2px;
    width: 100px;
    height: 36px;
    border: none;
    color: white;
    margin-top: 25px;
}

.form {
    padding-left: 50px;
    padding-top: 8px;
}

.input-form {
    margin-right: 20px;
}

/* Hasil Pencarian */
.card-pencarian {
    margin-left: 250px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.card-hasil-pencarian {
    margin-right: 20px;
}

.button-pilih-mobil {
    background-color: #5CB85F;
    border-radius: 2px;
    width: 280px;
    height: 40px;
    border: none;
    color: white;
    margin: 0;
    padding: 0;
}